

h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e70303;
    padding-top: 10px;
    width: 100%;
    height: 60px;
}
#calendar{
    background-color: rgba(25, 66, 202, 0.993);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 0.2em;
    width: 100%;
    /* background-color: #f3150d; */

}